{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>{{user}}</title>
{% endblock title %}
{% block css %}
<link rel="stylesheet" href=" {% static 'css/admin.css' %}">
{% endblock %}
{% block heading %}
<div class="btn_logout">
    <a class="btn btn-outline-dark" href="{% url 'logout' %}">Logout</a>
</div>
<h1 class="heading">{{heading}}</h1>
<h2>Hello {{user}}</h2>
{% endblock heading %}
{% block content %}
<div class="table-responsive">
    <table class="table" id="table_admin">
        <tr>
            <th>Nama</th>
            <th>Email</th>
            <th>Posisi</th>
            <th colspan="2">Edit</th>
        </tr>
        {% for karyawan in data %}
        <tr>
            <td>{{karyawan.username}}</td>
            <td>{{karyawan.email}}</td>
            <td>{{karyawan.groups.get}}</td>
            <td><a class="btn btn-outline-primary" href="{% url 'update' karyawan.id %}">Update</a></td>
            <td><a class="btn btn-danger" href="{% url 'delete' karyawan.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock content %}