{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{heading}}</title>
</head>
<body>
    <h1>Profile {{role}}</h1>
    <p>Username {{karyawan}}</p>
    <p>Umur {{umur}}</p>
    <p>Email {{user.email}}</p>
    <img src="{{ img }}" alt="">
    <a href="{% url 'karyawan_update' user.id %}">Update</a>
    <a href="{% url 'logout'%}">Logout</a>
</body>
</html>