{% extends 'base_karyawan.html' %}
{% load static %}
{% block title %}
<title>{{heading}}</title>
{% endblock title %}
{% block css %}
<link rel="stylesheet" href=" {% static 'css/karyawan.css' %} ">
{% endblock css %}
{% block heading %}
<h1 style="margin-top: 25px;" class="heading">{{heading}}</h1>
{% endblock heading %}
{% block content %}
<div class="logout" style="display: flex;justify-content: end; margin-right: 14px;">
    <a class="btn btn-outline-dark" href="{% url 'logout'%}" sty>Logout</a>
</div>

<div class="container" style="min-width: 100%;width: 100%;margin: 0px;padding: 0px;justify-content:center ;align-items: center;display: flex;">
    <div class="col-sm-12" style="display: flex;justify-content: center;align-items: center;">
        <div class="card" style="width: 250px;padding-top: 10px;">
            <img src="{{img}}" style="width: 150px;height: fit-content;" alt="Profile picture">
            <div class="card-body">
                <h3 class="card-title">{{karyawan.username}}</h3>
                <p class="card-text">Bio goes here...</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Alamat : {{alamat}}</li>
                    <li class="list-group-item">{{karyawan.email}}</li>
                    <li class="list-group-item">Phone: +62{{telepon}}</li>
                    <li class="list-group-item"><a id="update" href="{% url 'karyawan_update' user.id %}">Update</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

</body>

</html>